footer.main-footer {
  color: #fff;
  padding-bottom: $measure-medium;
  padding-top: $measure-large;
  @extend .grid-container;

  .footer-license-wrapper {
    @include grid-column(6);

    @include grid-media(tablet) {
      @include grid-column(10);
    }
  }

  .made-by-wrapper {
    position: relative;

    @include grid-column(6);

    @include grid-media(tablet) {
      @include grid-column(2);
    }
  }

  a.license {
    text-decoration: none;
    margin-top: $measure-normal;
    color: var(--color-text);

    &:hover {
      border-bottom: 1px dashed;
    }
  }

  a.made-by {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    word-wrap: break-word;
    letter-spacing: 0.2em;
    color: var(--color-text);
    font-size: .6rem;

    @include grid-media(tablet) {
      position: absolute;
      width: 64px;
      transform: rotate(-90deg);
      right: -12px;
      bottom: 12px;
    }
  }
}
