.global-wrapper > footer {
  @include padding(topbottom);
  color: #fff;

  .footer-content {
    @include grid-container;
    position: relative;

    .footer-content-wrapper {

      @include grid-column(12);

      @include grid-media($grid-tablet){
        @include grid-column(12);
      }

      @include grid-media($grid-desktop) {
        @include grid-column(12);
      }

      a.license {
        text-decoration: none;

        @include decorative-line-top;

        &:hover {
          border-bottom: 1px solid;
        }
      }

      a.made-by {
        color: white;
        font-size: $font-size-large/2;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.2em;
        position: absolute;
        width: $footer-height;
        word-wrap: break-word;
        right: 0;
        padding-bottom: 1em;
        border-bottom: 1px solid white;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        transform-origin: top;
      }
    }
  }
}
