.main-header {
  //Prevent header from hiding
  &.header-prevent-hide {
    transform: translateY(0%) !important;
  }

  .header-content {

    .logo-nav-wrapper {
       @extend %layout-grid-container;

      .logo-title-wrapper {
        @include grid-column(9);

        @include grid-media($grid-tablet) {
          @include grid-column(6);
        }

        @include grid-media($grid-desktop) {
          @include grid-column(6);
        }
      }

      nav.navigation {
        @include grid-column(3);

        @include grid-media($grid-tablet) {
          @include grid-column(6);
        }

        @include grid-media($grid-desktop) {
          @include grid-column(6);
        }
      }
    }
  }

  .logo-nav-wrapper {
    a.accessibility-skip {
      @include visually-hidden;

      &:focus {
        top: 0;
        left: 0;
        right: 0;
        z-index: 200;
        width: auto;
        height: auto;
        padding: 0 10px;
        clip: auto;
        font-weight: bold;
        line-height: 49px;
        color: $site-text-color;
        text-decoration: none;
        background: black;
        outline: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .logo {
      transition: width 200ms ease,
                  margin-right 200ms ease;
      vertical-align: top;
      display: inline-block;
      margin-right: .6em;
      width: 56px;
      height: 56px;

      a {
        &:focus,
        &:active {
          background: inherit;
          border-top: none;
          border-right: none;
          border-bottom: 2px solid $site-text-color;
          border-left: none;
          opacity: 1;
          outline: 0;
        }

        svg {
          height: 100%;
          width: 100%;

          #logo {
            fill: $site-text-color;
          }
        }
      }
    }
  }

  .desktop-page-title,
  .site-title {
    display: none;

    @include grid-media($grid-desktop) {
      transition: opacity $timing-interaction ease-in-out;
      height: auto;
      width: auto;
      display: inline-block;
      overflow: hidden;
      max-width: 400px;
      text-decoration: none;

      h1,
      h2 {
        font-size: 1.5rem;
        color: $site-text-color;
        margin-top: .6em;
        letter-spacing: .02em;
        line-height: 1.3;
        hyphens: auto;
      }
    }
  }

  a.accessibility-skip {
    @include visually-hidden;

    &:focus {
      top: 0;
      text-align: center;
      left: calc(50% - (300px/2));
      z-index: 10000;
      width: 300px;
      height: auto;
      padding: 0 10px;
      clip: auto;
      font-weight: bold;
      line-height: 49px;
      color: black;
      text-decoration: none;
      background: white;
      outline: 0;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Sticky header behaviour
.main-header {
  will-change: transform,
               background,
               padding-top,
               padding-bottom;

  transition: transform 200ms ease,
              background 200ms ease,
              padding-top 300ms ease,
              padding-bottom 200ms ease;

  padding-top: $measure-medium;
  padding-bottom: $measure-small;

  &.sticky-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s;
    z-index: 10000;

    .desktop-page-title {
      opacity: 0;
      height: 0;
      width: 0;
    }

    .site-title {
      opacity: 1;
      height: auto;
      width: auto;
    }
  }

  &.sticky-header--hidden {
    transform: translate3d(0, -100%, 0); /* y value should be -1 * height */
  }

  &.sticky-header--fixed {
    background: $site-background-color;
    padding-top: $measure-xsmall;
    padding-bottom: $measure-xsmall;
    position: fixed;
    border-bottom: 1px solid #2b2b2b;

    .logo {
      width: 44px;
    }

    .desktop-page-title {
      @include grid-media($grid-tablet) {
        opacity: 1;
        height: auto;
        width: auto;
      }
    }

    .site-title {
      opacity: 0;
      height: 0;
      width: 0;
    }
  }

  &.sticky-header--hidden:after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    height: 4em;
  }

  &.sticky-header--hidden:hover {
    transform: translate3d(0, 0, 0);
  }
}
