.page-title-wrapper {
  @extend .grid-container;

  .page-title {
    @include grid-column(12);

    @include grid-media(tablet) {
      @include grid-column(12);
    }

    @include grid-media(desktop) {
      @include grid-column(6);
    }

    &.project {
      @include grid-column(12);

      @include grid-media(tablet) {
        @include grid-column(12);
      }

      @include grid-media(desktop) {
        @include grid-column(6);
        @include grid-shift(1);
      }
    }
  }

  .page-title {
    padding-bottom: 1em;

    @include grid-media(tablet) {
      padding-bottom: 1em;
    }

    @include grid-media(desktop) {
      padding-bottom: 2em;
    }
  }
}
