---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |
  Hi, I’m Dan Nasko, a multi-disciplined data scientist, particularly
  focused around microbial ecology, high-dimensional datasets, and
  experimental systems. "Distilling terabytes of data into meaningful
  insights" sounds like a catchy thing to say, but that’s a lot of what I do!

  My goal is to demystify data science for biologists by designing
  analysis pipelines capable of generating meaningful and reproducible
  insights from 'omics datasets. Data is good, metadata is great.
  Working closely with biologist to understand their systems and
  assumptions is critically important to downstream data analysis because it's
  impossible to make biologically relevant conclusions from data without
  metadata and context.

  I currently work and live in San Diego as a Senior Data Scientist at
  [Novozymes A/S](https://www.novozymes.com/en) after my first start up,
  [Biota Technology](//www.biota.com), was [aquired by Novozymes in March 2021](https://www.novozymes.com/en/news/news-archive/2021/3/novozymes-acquires-data-science-platform-of-biota). Before that I was at
  the University of Maryland where I worked with:
  [Todd Treangen](//www.treangenlab.com) (Rice University),
  [Mihai Pop](//pop-lab.org) (UMD UMIACS),
  [Krista Ternus](https://scholar.google.com/citations?user=3ixmu7wAAAAJ&hl=en) (Signature Science),
  [Don Milton](https://sph.umd.edu/people/donald-milton) (UMD SPH), and
  [Amy Sapkota](https://sph.umd.edu/people/amy-r-sapkota) (UMD SPH).

  And prior to all of that I was a PhD student in Eric Wommack and
  Shawn Polson's Viral Ecology and Informatics Lab at the University of Delaware.

profile_picture: /images/profile-pictures/profile.jpeg

experience:
  - company: Biota Technology
    position: Senior Data Scientist
    period: Apr 2019 - Present

  - company: University of Maryland
    position: Assistant Research Scientist
    period: Jul 2018 - Mar 2019

  - company: University of Maryland
    position: Post-Doctoral Associate
    period: Jul 2017 - Jun 2018

  - company: University of Delaware
    position: Graduate Research Assistant
    period: Jan 2011 - Jul 2017

  - company: Accugenix, Inc
    position: Molecular Associate
    period: Dec 2008 - Jan 2011

education:
  - course: Ph.D. Bioinformatics and Systems Biology
    place: Univeristy of Delaware
    period: 2011-2017

  - course: B.Sc. Pharmaceutical Product Development
    place: West Chester University
    period: 2006-2010

software:
  - event: CASC 
    period: A CRISPR finding tool
    result: CASC A'int Simply CRT
    link: https://github.com/dnasko/CASC

  - event: Rubble
    period: Protein-protein BLAST-like tool
    result: Rubble
    link: https://github.com/dnasko/rubble

skills:
  - Meta-*-Omics data analysis
  - Python
  - Unix
  - Parallel computing (e.g. Slurm, Torque PBS)

tools:
  - AWS Services (e.g. EC2, RDS)
  - Nextflow
  - PostgreSQL
  - Bioinformatics applications -- QIIME, BLAST, BWA, Bowtie, Samtools, PacBio® SMRT Analysis Software, CLC Genomics Workbench, MAFFT, MOTHUR, CD-HIT, USEARCH, MetaGene, de Bruijn graph and overlap consensus assemblers, Anvi-o, PhyML, Phylip, Jellyfish, Kraken, Cytoscape, BLAT, LAST.
  - General applications -- Jupyter, LaTeX, Trello, Microsoft Word, Excel, Powerpoint, Adobe Illustrator.

about_site: |
  - This site is forked from [Matt Gray's](https://github.com/MattGreyDesign/himatt.com) site,
  which he designed and built with [Jekyll](https://jekyllrb.com/). Updates made
  by Dan Nasko.

  - The typefaces used are
  [DM Sans](https://fonts.google.com/specimen/DM+Sans) and
  [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display),
  designed by [Colophon Foundry](https://www.colophon-foundry.org/).

  - Other tools and libraries used include, [SASS](http://sass-lang.com/),
  [jQuery](https://jquery.com/),
  [Headspace](https://github.com/gdub22/headspace) and
  [Normalize.css](http://github.com/necolas/normalize.css).

  - All the code for this site is open source and available on
  [Github](https://github.com/dnasko/dnasko.github.io)

  - Although the code is opensource under the GNU General Public License v3, all
  content is Copyrighted. [Read more](https://github.com/dnasko/dnasko.github.io/blob/master/LICENSE)
  {:.list--dashed .list--small}
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Dan Nasko",
    "jobTitle": "Senior Data Scientist",
    "nationality": "American",
    "url": "http://www.dnasko.me/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "San Diego, California",
      "addressCountry": "United States of America"
    }
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>

        <div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Software</h3>
          <dl class="relational-list">
            {% for software-item in page.software %}
              <dt class="relational-list__title">{{ software-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ software-item.period | markdownify}}</dd>
              <dd class="relational-list__description"><a href="{{ software-item.link }}">{{ software-item.result | markdownify}}</a></dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">Colophon: about this site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
