---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |
  Hi, I'm Matt Grey, a multi-disciplined designer, particularly focussed around
  Digital Product Design, User Experience (UX), and Usability. Adopting a
  user-centred process, I design, test and prototype multi-platform websites
  and apps, as well as create and manage design systems to drive efficiency and
  consistency.

  I aim to bridge the gaps between design, tech, and the business, by working
  cross-functionally to research, prototype and deliver real products with
  effective, engaging, and accessible user experiences.

  I currently work (and live) in London as a Product Designer at
  [Paymentsense](//www.paymentsense.com/), previously at
  [ClearScore](//www.clearscore.com/), [Acuris](//www.acuris.com/) and
  [Tesco](//www.tesco.com/).

  Prior to that I was working in Southampton as a Designer and Consultant at
  [Alliants](//alliants.com), where I worked with a number of clients, including:
  [Four Seasons Hotels and Resorts](//fourseasons.com),
  [Babylon Health](//babylonhealth.com),
  [Travelodge](//travelodge.co.uk),
  [Ski Solutions](//skisolutions.com),
  [Sun Life Financial](//www.sunlife.com),
  [CooperVision/Specsavers](//www.specsavers.co.uk/contact-lenses/coopervision),
  [Channel 5](//channel5.com),
  [butterfly.life](//itunes.apple.com/gb/app/butterfly-life/id1258575969),
  [VisitBritain](//www.visitbritain.com/gb/en),
  and [OpenJaw Technologies](//www.openjawtech.com).

  In 2010 I founded a [font foundry](https://www.myfonts.com/foundry/Matt_Grey/),
  which has released a number of free and commercial [fonts](/fonts).

profile_picture: /images/profile-pictures/profile.jpg

experience:
  - company: Paymentsense
    position: Product designer (Senior)
    period: August 2020 - Present

  - company: Clearscore
    position: Product designer, Design Systems
    period: July 2019 - August 2020

  - company: Acuris
    position: Product designer (UX/UI)
    period: Jan 2019 - July 2019

  - company: Tesco Stores Ltd.
    position: UI Designer
    period: Mar 2018 - Jan 2019

  - company: Alliants
    position: Visual/UX designer and Consultant
    period: Jun 2014 - Feb 2018

  # - company: Techbods
  #   position: Graphic Designer
  #   period: Jul 2013 - Sep 2013

  # - company: Leepeckgroup
  #   position: Work Experience - Designer
  #   period: Sep 2010

  # - company: Hampshire County Council
  #   position: Work Experience - Graphic Designer
  #   period: Oct 2009

education:
  - course: Two-day User Experience Design Bootcamp
    place: General Assembly
    period: 2017

  - course: Foundation Certificate in User Experience
    place: BCS, The Chartered Institute for IT
    period: 2016

  - course: BA(Hons) Graphic design
    place: Falmouth University
    period: 2011 - 2014

  - course: Short course, Graphic design
    place: Central Saint Martins (UAL)
    period: 2010

competitions:
  - event: Culture Mile Fusion Prize
    period: 2019 - 2020
    result: Shortlisted - Knolo
    link: https://www.culturemile.london/fusion-prize-shortlist/knolo
    # https://www.youtube.com/watch?v=ufmXwUdZJeY&feature=emb_title&ab_channel=CultureMile

  - event: RESI Hackathon
    period: 2018
    result: Winners - Team FreeCycle
    link: https://medium.com/@bemyapp/resi-hackathon-2018-cbf185c29838

skills:
  - User Experience design (UX)
  - User Interface design (UI)
  - Graphic design
  - Cross platform design (Desktop, Native Mobile, responsive, smartwatch, kiosk etc.)
  - Design libraries and Styleguides
  - User journey mapping
  - User interviews and Usability testing
  - Information Architecture
  - Wireframing
  - Interactive prototypes
  - Contextual inquiry

tools:
  - Sketch app, Figma
  - Flinto, Balsamiq, Invision, Zeplin, Marvel app
  - Adobe Creative Cloud Suite (Photoshop, XD, Illustrator, After Effects...)
  - HTML
  - CSS and SASS (SCSS)
  - jQuery (for prototyping only)
  - Jekyll
  - Frontend templating languages (ERB, Handlebars, Blade, Liquid)
  - Glyphs app, Fontlab, Fontographer

about_site: |
  - Designed and built from scratch by me using
  [Jekyll](https://jekyllrb.com/).

  - The typefaces used are
  [DM Sans](https://fonts.google.com/specimen/DM+Sans) and
  [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display),
  designed by [Colophon Foundry](https://www.colophon-foundry.org/).

  - Other tools and libraries used include, [SASS](http://sass-lang.com/),
  [jQuery](https://jquery.com/),
  [Headspace](https://github.com/gdub22/headspace) and
  [Normalize.css](http://github.com/necolas/normalize.css).

  - All the code for this site is open source and available on
  [Github](https://github.com/mattgreydesign/mattgreydesign.github.io), deployed
  and hosted using [Netlify](http://netlify.com/).

  - Although the code is opensource under the GNU General Public License v3, all
  content is Copyrighted. [Read more](https://github.com/MattGreyDesign/mattgreydesign.github.io/blob/master/LICENSE)
  {:.list--dashed .list--small}
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Matt Grey",
    "jobTitle": "UX Designer",
    "nationality": "British",
    "url": "http://www.himatt.com/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "London",
      "addressCountry": "United Kingdom"
    }
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>

        <div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Competitions</h3>
          <dl class="relational-list">
            {% for competition-item in page.competitions %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd>
              <dd class="relational-list__description"><a href="{{ competition-item.link }}">{{ competition-item.result | markdownify}}</a></dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">Colophon: about this site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
