---
layout: page
title: "Fonts"
permalink: /fonts/
redirect_from: /projects/typefaces
priority: 0.9
sitemap: true
---

<div class="fonts-intro">
  <div class="fonts-intro-description type-level-4">
    <p class="paragraph-large">
      I established my type foundry in 2010 with the aim of producing a set 
      of versatile typefaces for designers, in a diverse range of styles.
    </p>
  </div>

  <div class="fonts-intro-info">
    <p class="paragraph-small">
      Sales through Gumroad are direct and will always have the most economic
      pricing, followed by Fontspring. <a href="/contact">Contact me</a> to 
      enquire about customisations or discounts.

      <br/><br/>

      For a preview playground of the fonts listed, visit
      <a href="//www.myfonts.com/foundry/Matt_Grey">MyFonts</a>
    </p>
  </div>
</div>

<div class="fonts">

{% assign fontslist = site.fonts | sort:"order_number" %}
{% for font in fontslist %}

{% assign fontSlug = font.title | slugify %}

{% capture previewImagePath %}{{ site.image_serve_path | append: '/fonts/'}}{{ fontSlug }}{% endcapture %}

{% capture firstVendorURL %}
    {% for vendor in font.vendors limit:1 %}{{ vendor.url }}{% endfor%}
{% endcapture %}

<article class="font-listing">
  <div class="font-listing-details">
    <h2 class="font-listing-title type-level-3"><a href="{{ firstVendorURL }}">{{ font.title }}</a></h2>
    <p class="font-listing-styles title-label">{{ font.font_weights | size }} Styles</p>
    {% for vendor in font.vendors limit:3 %}
    {% capture vendorReferral %}{% if vendor.title == "Fontspring"%}?refby=mattgrey{% endif %}{% endcapture %}
  <a class="{% if forloop.first == true %}button-secondary button--small {% else %}font-listing-link-tertiary{% endif %} font-listing-vendor-link formatted-link" href="{{ vendor.url | append: vendorReferral }}" title="View/purchase on {{ vendor.title }} ({{ vendor.licence }} license)">{{ vendor.title }}</a> {% if forloop.last == false %}<span class="font-listing-vendor-link-separator">/</span>{% endif %}
    {% endfor %}
  </div>

  <div class="font-listing-preview">
    <div class="font-listing-preview-overflow">
      <img src="{{ previewImagePath }}/flist-{{ fontSlug }}.svg" alt="{{ font.title }}">
    </div>
  </div>

</article>

{% endfor %}
</div>
