.about-wrapper {

  .about {
    @extend %layout-grid-container;

    .about-intro {
      @extend %layout-grid-container;
      margin-bottom: $measure-small;

      .about-intro-image {
        @include grid-column(12);

        @include grid-media($grid-mobile-large) {
          @include grid-column(6);
          @include grid-shift(6);
        }

        @include grid-media($grid-tablet) {
          @include grid-column(4);
          @include grid-shift(8);
        }

        @include grid-media($grid-desktop) {
          @include grid-column(4);
          @include grid-shift(8);
        }
      }

      .about-intro-description {
        @include grid-column(12);

        @include grid-media($grid-mobile-large) {
          @include grid-column(6);
          @include grid-shift(-6);
        }

        @include grid-media($grid-tablet) {
          @include grid-column(7);
          @include grid-shift(-4);
        }

        @include grid-media($grid-desktop) {
          @include grid-column(7);
          @include grid-shift(-4);
        }
      }
    }

    .about-attributes {
      @extend %layout-grid-container;

      .about-tools,
      .about-skills,
      .about-education,
      .about-experience {
        @include grid-column(12);

        @include grid-media($grid-mobile-large) {
          @include grid-column(6);
        }

        @include grid-media($grid-tablet) {
          @include grid-column(4);
        }

        @include grid-media($grid-desktop) {
          @include grid-column(3);
        }
      }
    }

    .about-site {
      @extend %layout-grid-container;

      .about-site-description {
        @include grid-column(12);

        @include grid-media($grid-tablet) {
          @include grid-column(8);
        }

        @include grid-media($grid-desktop) {
          @include grid-column(6);
        }
      }
    }
  }
}

.about-wrapper {
  .about {
    .about-intro-image { margin-bottom: $measure-medium; }

    .about-section {
      border-top: 1px solid rgba(white, .3);
      margin-bottom: $measure-medium;
      padding-top: $measure-xxsmall;

      &.about-section-no-title {
        padding-top: $measure-xsmall;
      }
    }

    .about-section-title {
      padding-bottom: $measure-xxsmall;
      margin-bottom: .5rem;
    }
  }
}
