.behind {
  height: $accent-behind-height;
  margin-bottom: -($accent-behind-height);
  width: 100%;
}

.font-header {
  .font-header-content {
    @extend %layout-grid-container;

    > section {
      @include grid-column(9);
    }

    > aside {
      @include grid-column(3);
    }
  }
}
