.fonts-wrapper {
  @extend .grid-container;

  .fonts {
    @include grid-column(12);

    @include grid-media(tablet) {
      @include grid-column(8);
      @include grid-shift(2);
      margin-top: 5vh;
      margin-bottom: 8vh;
    }
  }
}

.fonts {
  transform: rotate(4deg);
  p { @extend .paragraph-large; }
}
