.fonts-wrapper {

  .font-listing {
    @extend .grid-container;

    .font-listing-details {
      @include grid-column-from-to(1,6);

      @include grid-media(tablet) {
        @include grid-column-from-to(1,12);
      }

      @include grid-media(desktop) {
        @include grid-column-from-to(1,4);
      }
    }

    .font-listing-preview {
      @include grid-column-from-to(1,6);

      @include grid-media(tablet) {
        @include grid-column-from-to(1,12);
      }

      @include grid-media(desktop) {
        @include grid-column-from-to(5,12);
      }
    }
  }
}

.fonts {
  // p { @extend .paragraph-large; }
}

.font-listing {
  border-top: 1px solid var(--color-line);
  margin-top: var(--gutter-row);
  padding-top: 1rem;

  .font-listing-preview img {
    width: auto;
    max-height: rem(64px);
  }
}
