//Layout
.projects-page {

  .projects-wrapper {
    @include grid-container;

    .projects {

      > article.project-listing {
        @include grid-column(6);

        @include grid-media($grid-tablet) {
          @include grid-column(4);
        }

        @include grid-media($grid-desktop) {
          @include grid-column(4);
        }
      }
    }
  }
}

//Styling

.projects-page {

  .projects-wrapper {

    article {
      padding-bottom: $measure-medium;

      &:last-of-type {
        padding-bottom: 0;
      }

      .thumbnail-wrapper {
        a {

          h3 {
            display: block;
            color: white;
            margin-top: .4em;
            font-size: $font-size-normal;
          }

          .thumbnail-description-wrapper {
            display: block;
            position: relative;
            line-height: 0;

            p.thumbnail-description {
              //Initially hidden
              @include visually-hidden;
              opacity: 0;
            }
          }

          &:hover .thumbnail-description-wrapper p.thumbnail-description {
              transition: opacity .3s ease-in-out;
              display: block;
              width: 100%;
              background-color: blue;
              height: 100%;
              clip: auto;
              opacity: 0.75;
              margin: 0;
              @include element-padding;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;

              //center text all ways (text is in span)
              display: flex;
              align-items: center;
              justify-content: center;

              span {
                opacity: 1;
                color: white;
              }
          }
        }
      }
    }
  }
}
