<footer>
  <div class="footer-content">
    <div class="footer-content-wrapper">
      <p><a class="license" href="https://github.com/MattGreyDesign/mattgreydesign.github.io/blob/master/LICENSE" title="View the license for this site and it's content"><small>All content is Copyright &copy; 2010 - <script type="text/javascript">document.write(new Date().getFullYear());</script><noscript>{{ site.year }}</noscript> Matthew Grey</small></a></p>
      <a class="made-by" href="//github.com/MattGreyDesign/mattgreydesign.github.io">Made by Matt</a>
    </div>
  </div>
</footer>
