<footer>
  <div class="footer-content">
    <div class="footer-content-wrapper">
      <p><a class="license" href="https://github.com/MattGreyDesign/mattgreydesign.github.io/blob/master/LICENSE" title="View the license for this site and it's content"><small>All content is copyright &copy; 2010 - <span id="currentYear"></span><noscript>{{ site.year }}</noscript> Matthew Grey, any trademarks are property of their respective owners</small></a></p>
      <a class="made-by" href="//github.com/MattGreyDesign/mattgreydesign.github.io">Made by Matt</a>
    </div>
  </div>
</footer>
