<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title_override %}{{ page.title_override | escape }}{% elsif page.title %}{{ page.title | escape }} | {{site.title | escape}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/css/styles.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=DM+Serif+Display&display=swap">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% if page.sitemap == false %}<meta name="robots" content="nofollow, noindex"/>{% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/images/favicons/manifest.json">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#212121">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#212121">

  {% if page.is_post %}
    {% assign type = "article" %}
  {% else %}
    {% assign type = "website" %}
  {% endif %}
  <meta property="og:type" content="{{ type }}"/>
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}"/>
  {% if page.thumbnail %}
  <meta property="og:image" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}{{ page.thumbnail.path }}"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="900"/>
  {% endif %}
  {% if page.is_post %}
  <meta property="og:site_name" content="{{ site.title }}"/>
  {% endif %}

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="{{ site.social-username.twitter }}"/>
  <meta name="twitter:creator" content="{{ site.social-username.twitter }}"/>
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}"/>
  {% if page.thumbnail %}
  <meta name="twitter:image" content="{{ prepend: site.baseurl | prepend: '/images' | prepend: site.url }}{{ page.thumbnail }}"/>
  {% endif %}

</head>
