<header class="main-header" data-header>
  <div class="header-content">

    <a class="accessibility-skip" href="#maincontent">Skip to main content</a>

    <div class="logo-nav-wrapper">
      <div class="logo-title-wrapper">
        <div class="logo">
          <a href="{{ site.baseurl }}/">
            {% include logo.svg %}
            <span>{{ site.title }} Home</span>
          </a>
        </div>

        {% if page.layout == "font" or page.layout == "project" or page.layout == "page" %}
        <div class="desktop-page-title">
          <h1>{{ page.title }}</h1>
        </div>
        {% endif %}
      </div>

      <nav class="navigation" role="navigation" aria-label="main navigation">
        <a href="javascript:void(0)" class="mobile-nav">Menu</a>
        <div class="mobile-nav-wrapper">
          <ul class="mobile-dropdown">
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url contains link.url %}
                {% assign current = ' class="current"' %}
            {% endif %}
            <li>
              <a{{ current }} href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </nav>

    </div>

  </div>
</header>
