<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ site.title }}",
    "alternateName": "{{ site.long-title }}",
    "url": "http://www.himatt.com"
  }
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://www.himatt.com",
    "logo": "http://www.himatt.com/images/mg-logo.png"
  }
</script>

<header class="main-header sticky-header" data-header>
  <div class="header-content">

    <a class="accessibility-skip" href="#maincontent">Skip to main content</a>

    <div class="logo-nav-wrapper">
      <div class="logo-title-wrapper">
        <div class="logo">
          <a href="{{ site.baseurl }}/" aria-label="Homepage, Matt Grey Design">
            {% include logo.svg %}
          </a>
        </div>
      </div>

      <nav class="navigation" aria-label="main navigation">
        <a href="javascript:void(0)" class="mobile-nav">Menu</a>
        <div class="mobile-nav-wrapper">
          <ul class="mobile-dropdown" itemscope itemtype="http://schema.org/SiteNavigationElement">
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% capture current_page %}{{ page.url | downcase | replace_first: '/', '' | remove: '/' }}{% if page.url == '/' %}projects{% endif %}{% endcapture %}
            {% capture current_page_nav %}{{ link.title | downcase }}{% endcapture %}

            {% if current_page contains current_page_nav %}
              {% assign current = ' class="current"' %}
            {% endif %}

            <li>
              <a{{ current }} itemprop="url" href="{{ link.url }}"><span itemprop="name">{{ link.title }}</span></a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </nav>

    </div>

  </div>
</header>
