<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {{site.title | escape}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta name="robots" content="noindex" /> <!-- MAKE CONDITIONAL WHEN READY TO GO LIVE -->

  {% if page.accent %}
  {% capture stored_scss %}
    //Accent styles
    body.accent {
      {% if page.accent.background_color %}
        background: #{{ page.accent.background_color }};
        {% if page.accent.gradient %}
          background: linear-gradient({{ page.accent.gradient }});

          .global-wrapper>header.notTop {
            background: #{{ page.accent.background_color }};
          }
        {% endif %}
        color: #{{ page.accent.color }} !important;
      {% endif %}
    }
  {% endcapture %}

  <style>
    {{ stored_scss | scssify }}
  </style>

  {% endif %}
</head>
