//Mobile
$neat-grid: (
  columns: 12,
  gutter: $page-global-padding-desktop,
);

//Mobile Large
mobile-large: (
  columns: 12,
  gutter: $page-global-padding-tablet,
  media: $phablet-size,
);

//Tablet
tablet: (
  columns: 12,
  gutter: $page-global-padding-tablet,
  media: $tablet-size,
);

//Desktop
desktop: (
  columns: 12,
  gutter: $page-global-padding-desktop,
  media: $desktop-size,
);
