body > footer {
  background-color: $site-color;
  color: #fff;

  padding: $inner-padding-mobile;

  @include media($mobile-size) {
    padding: $inner-padding;
  }

  .footer-content {
    @include outer-container;
  }
}
