body > header {
  @include padding(full);
  background-color: $site-color;

  .header-content {
    @include outer-container;
  }

  .logo {
    @include span-columns(3);
    z-index: 3;

    a {
      &:hover,
      &:focus,
      &:active {
        background: inherit;
        border-top: none;
        border-right: none;
        border-bottom: 2px solid white;
        border-left: none;
        opacity: 1;
        outline: 0;
      }
    }

    span {
      @include visually-hidden;
    }
  }

  .page-title {
    @include outer-container;

    h1 {
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.10em;
      margin-top: 0.6em;
    }
  }
}


body > header, body > footer {
  &.inverted {

    .logo-fill {
      fill: $site-accent-inverted-color;
    }

    h1, p, a {
      color: $site-accent-inverted-color;
    }

    nav {
      ul, li, .mobile-nav {
        border-color: $site-accent-inverted-color;
        color: $site-accent-inverted-color;
      }
    }
  }
}
