body > header {
  @include padding(full);
  background-color: $site-color;

  .header-content {
    @include outer-container;
  }

  .logo {
    @include span-columns(3);
    z-index: 3;

    span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  .page-title {
    @include outer-container;

    h1 {
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.10em;
    }
  }
}


body > header, body > footer {
  &.inverted {

    .logo-fill {
      fill: black;
    }

    h1, p, a {
      color: black;
    }

    nav {
      ul, li, .mobile-nav {
        border-color: black;
        color: black;
      }
    }
  }
}
