::-moz-selection {
    color: white;
    background: $site-accent-color-secondary;
}

::selection {
    color: white;
    background: $site-accent-color-secondary;
}

html {
  box-sizing: border-box;
  background: $site-background-color;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

img {
  display: block;
}

body {
  color: $site-text-color;

  &.prevent-scroll-mobile {
    overflow: hidden;

    @include grid-media($grid-tablet) {
      overflow: auto;
    }
  }
}

.global-wrapper {
  margin-top: 100px;
}

.header-content,
main,
footer {
  margin-left: auto;
  margin-right: auto;

  @include grid-media($grid-tablet) {
    max-width: $desktop-size;
  }

  @include grid-media($grid-tablet) {
    max-width: $largedesktop-size;
  }
}

.main-content { min-height: calc(100vh - 193px); }

.page-header-spacer {
  height: 2em;
}
