//Global site layout
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {

}

body {
  background: $site-background-color;
}

.global-wrapper {
  margin-top: 144px;
}

.header-content,
main,
footer {
  margin-left: auto;
  margin-right: auto;

  @include grid-media($grid-tablet) {
    max-width: $desktop-size;
  }

  @include grid-media($grid-tablet) {
    max-width: $largedesktop-size;
  }
}

body.prevent-scroll {
  position: fixed;
  width: 100%;
}

@include grid-media($grid-tablet) {
  body.prevent-scroll {
    position: relative;
  }
}
