::-moz-selection {
    color: white;
    background: $site-highlight;
}

::selection {
    color: white;
    background: $site-highlight;
}

html {
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

img {
  display: block;
}

body {
  &.prevent-scroll-mobile {
    overflow: hidden;

    @include grid-media(tablet) {
      overflow: auto;
    }
  }
}

.global-wrapper {
  margin-top: 100px;
}

// .header-content,
// main,
// footer {
//   margin-left: auto;
//   margin-right: auto;

//   @include grid-media(tablet) {
//     max-width: $desktop-size;
//   }

//   @include grid-media(desktop) {
//     max-width: $largedesktop-size;
//   }

//   @include grid-media(largedesktop) {
//     max-width: 90vw;
//   }
// }

.main-content {
  min-height: calc(100vh - 224px);
  padding-top: 1rem;

  @include grid-media(tablet) {
    padding-top: 2rem;
  }
}

.page-header-spacer {
  height: 2em;
}
