---
layout: default
---
<div class="font-header">
  <div class="font-header-content">
    <section class="banner">
      <img src="{{ page.banner | prepend: site.image_serve_path }}" alt="">
    </section>

    <aside class="buy">
      <section class="vendors">
        <h2>Buy</h2>
        {% if page.vendors %}
          {% for vendor in page.vendors %}

            {% if vendor.title == "Gumroad" %}
              <script src="https://gumroad.com/js/gumroad.js"></script>

              <section>
                <header>
                  <h3 class="type-level-4">Gumroad (Best value)</h3>
                  <a class="gumroad-button" href="https://gum.co/socialnetworkingicons"
                  style="background-image: none !important; color: var(--color-text-inverted) !important; border-radius: 0 !important"
                  target="_blank">Buy direct</a>
                  <p>{{ vendor.licence }}</p>
                </header>
              </section>

            {% else %}

              <section>
                <header>
                  <a class="button-secondary {{ vendor.title | downcase }}" href="{{ vendor.url}}">{{ vendor.title | escape_once }}</a>
                  <p>{{ vendor.licence }}</p>
                </header>
              </section>
            {% endif %}

          {% endfor %}
        {% endif %}
      </section>
    </aside>
  </div>
</div>

<section>
  {{ content }}
</section>

<section class="features">
{% if page.features %}
  <h2>Features</h2>
  <ul>
  {% for feature in page.features %}
    <li>{{ feature }}</li>
  {% endfor %}
  </ul>
{% endif %}
</section>

<section class="weights">
{% if page.font_weights %}
  <h2>Available Weights</h2>
  <ul>
  {% for weight in page.font_weights %}
    <li>{{ weight }}</li>
  {% endfor %}
  </ul>
{% endif %}
</section>

<section>
  <dl>
  <dt>First released</dt>
  <dd>{{ page.initial_release }}</dd>
  </dl>

  <dl>
  <dt>Latest revision</dt>
  {% if page.releases %}
    {% for release in page.releases reversed %}
      {% if forloop.first == true %}
        <dd>{{ release.version }} ({{ release.releasedate }})</dd>
      {% endif %}
    {% endfor %}
  {% endif %}
  </dl>
</section>


<section class="releases">
  <header>
    <h2>Version history</h2>
  </header>
  {% if page.releases %}
    {% for release in page.releases reversed %}
    <section>
      <header>
        <h3>{{ release.version }}</h3>
        <p>{{ release.releasedate }}</p>
      </header>
      <dl>
        <dt>Details</dt>
        <dd>
          {{ release.details | markdownify }}
        </dd>
      </dl>
      <br>
    </section>
    {% endfor %}
  {% endif %}
</section>
