---
layout: default
title-class: project
---

{% unless page_layout_mode == hero %}
  {% for entry in page.image_content %}
    {% if forloop.index0 == 1 %}
      {% break %}
    {% endif %}

    {% include layout.html %}

  {% endfor %}
{% endunless %}

<div class="project-wrapper">
  <div class="project-info">
    <section class="project-intro">{{ page.intro | markdownify  }}</section>
    <aside class="project-details">
      <div class="project-detail-wrapper">

        {% if page.disciplines %}
        <div class="project-detail-6 project-detail-first">
          <h3 class="project-detail-property-title">Disciplines</h3>
          <p>{{ page.disciplines }}</p>
        </div>
        {% endif %}

        {% if page.time_period %}
        <div class="project-detail-6">
          <h3 class="project-detail-property-title">Year</h3>
          <p>{{ page.time_period }}</p>
        </div>
        {% endif %}

        {% if page.website.url %}
        <div class="project-detail-12">
          <a href="{{ page.website.url }}" class="button-secondary">{{ page.website.button_text }}</a>
        </div>
        {% endif %}
      </div>
    </aside>
  </div>

  <section>
  {% for entry in page.image_content %}
    {% unless page.layout_mode == 'hero' %}
      {% if forloop.index0 == 0 %}
        {% continue %}
      {% endif %}
    {% endunless %}

    {% include layout.html %}

  {% endfor %}
  </section>

  {% if page.content %}
  <section class="additional-content-wrapper">
    <div class="additional-content">
      {{ content }}
    </div>
  </section>
  {% endif %}
</div>
