---
layout: default
title-class: project
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ site.url | append: '/projects/' }}",
        "name": "Projects"
      }
    },{
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ site.url | append: page.url }}",
        "name": "{{ page.title }}",
        "image": "{{ site.url | append: '/images' | append: page.thumbnail }}"
      }
    }]
  }
</script>

<div class="project-wrapper">

{% if page.layout_mode == 'hero' %}
  <div class="project-hero">
    {% for entry in page.content_layout %}
      {% if forloop.index0 == 1 %}
        {% break %}
      {% endif %}

      {% include layout.html %}

    {% endfor %}
  </div>
{% endif %}

  <div class="project-info">
    <section class="project-intro paragraph-main">{{ page.intro | markdownify }}</section>
    <aside class="project-details">
      <div class="project-detail-wrapper">

        {% if page.disciplines %}
        <div class="project-detail project-detail-6 project-detail-first">
          <h3 class="project-detail-property-title">Disciplines</h3>
          {% assign discipline_list = page.disciplines | split: ','  %}

          {% for discipline in discipline_list %}
          <span class="keep-line-wrap">{{ discipline }}{% if forloop.last == false %},{% endif %}</span>
          {% endfor %}
        </div>
        {% endif %}

        {% if page.time_period %}
        <div class="project-detail project-detail-6">
          <h3 class="project-detail-property-title">Year</h3>
          <p>{{ page.time_period }}</p>
        </div>
        {% endif %}

        {% if page.website.url %}
        <div class="project-detail project-detail-12">
          <a href="{{ page.website.url }}" class="button-secondary">{{ page.website.button_text }}</a>
        </div>
        {% endif %}
      </div>
    </aside>
  </div>

  <section>
  {% for entry in page.content_layout %}
    {% if page.layout_mode == 'hero' %}
      {% if forloop.index0 == 0 %}
        {% continue %}
      {% endif %}
    {% endif %}

    {% include layout.html %}

  {% endfor %}
  </section>

  {% if page.content %}
  <section class="additional-content-wrapper">
    <div class="additional-content">
      {{ content }}
    </div>
  </section>
  {% endif %}
</div>
