---
layout: default
---

<section>{{ page.intro | markdownify  }}</section>
<aside>
  <p>{{ page.time_period }}</p>
  {% if page.disciplines %}
  <ul>
  {% for discipline in page.disciplines %}
    <li>{{ discipline }}</li>
  {% endfor %}
  </ul>
  {% endif %}
</aside>

<section>
{% for entry in page.image_content %}

  <div class="{{ entry.section_layout }}">

    {% for image in entry.images %}

      {% capture stored_caption %}{% if image.description %}{{ image.description }}{% elsif image.caption %}{{ image.caption }}{% else %}{{ page.title }}{% endif %}{% endcapture %}

      <figure class="image-wrapper">
        <img src="{{ image.url | prepend: site.image_serve_path }}" alt="{{ stored_caption }}">
        {% if image.description %}<figcaption>{{ image.description }}</figcaption>{% endif %}
      </figure>

    {% endfor %}

  </div>

{% endfor %}
</section>

<section>
  {{ content }}
</section>
