%button {
  @include element-padding;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  font-size: $font-size-large;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  transition:
    color $timing-interaction,
    background $timing-interaction;

  &:focus {
    outline:0;
  }

  &:active {
    transform: scale(0.99);
  }

  &:disabled,
  &.disabled{
    cursor: not-allowed;
    transform: scale(1);
  }
}

.button-adaptive {
  width: 100%;

  @include grid-media($grid-desktop) {
    display: inline-block;
    width: auto;
  }
}

.button-primary {
  @extend %button;

  background: $site-accent-color;
  border: none;

  &:hover {
    background: $site-accent-color-light;
  }

  &:active {
    background: $site-accent-color-lightest;
  }

  &:disabled,
  &.disabled{
    background: $site-accent-color-lightest;
  }
}

.button-secondary {
  @extend %button;
  border: 1px solid $site-accent-color;
  color: $site-accent-color;
  background: transparent;

  &:hover,
  &:focus {
    background: $site-accent-color;
    color: black;
  }

  &:active {
    background: $site-accent-color-lightest;
    color: black;
  }

  &:disabled,
  &.disabled{
    background: $site-accent-color-lightest;
  }
}
