%layout-grid-container {
  @extend .grid-container;
}

.two-columns {
  column-count: 1;

  @include grid-media(phablet) {
    column-count: 1;
  }

  @include grid-media(tablet) {
    column-gap: $page-global-padding-tablet;
    column-count: 1;
  }

  @include grid-media(desktop) {
    column-gap: $page-global-padding-desktop;
    column-count: 2;
  }
}
