@mixin grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: var(--padding);
  grid-row-gap: var(--padding);
  margin-left: var(--page-gutter);
  margin-right: var(--page-gutter);

  @include grid-media(phablet) {

  }

  @include grid-media(tablet) {
    grid-template-columns: repeat(12, 1fr);
  }

  @include grid-media(desktop) {
  }

  @include grid-media(largedesktop) {
    }
}

.grid-container { //Use for extend
  @include grid-container;
}

@mixin grid-column-from-to($from: 1, $to: 12,) {
  grid-column: #{$from} / #{($to + 1)};
}

@mixin grid-column($spanAmount: 12) {
  grid-column-end: span $spanAmount;
}
