a {
  color: $site-text-color;
}

main p a,
main li a {
  text-decoration: none;
  color: $site-accent-color;
  border-bottom: 1px dashed;
  border-bottom-color: transparent;
  transition: border-bottom-color .2s;

  &:hover {
    border-bottom-color: $site-accent-color;
    transition: border-bottom-color 0s;
    opacity: 1;
  }
}
