a {
  color: var(--color-text);
}

main p a,
main li a {
  text-decoration: none;
  color: var(--color-cta);
  border-bottom: 1.5px dashed;
  border-bottom-color: transparent;

  &:hover {
    border-bottom-color: var(--color-cta);
  }
}
