main ul li {
  margin-bottom: .6rem;
  font-size: $body-font-size-desktop;
}

.list--small li { font-size: $font-size-normal; }

.list--dashed {
  list-style-type: none;
  margin-left: 14px;

  > li {
    list-style-type: none;
    position: relative;
  }

  > li:before {
    content: "-";
    display: block;
    position: absolute;
    left: -15px;
  }
}

dl.relational-list {
  dt.relational-list__title {}
  dd.relational-list__description {
    font-size: $font-size-small;
    opacity: $color-rgb-opacity;
    margin-bottom: 1rem;

    &.relational-list__description--period {
      margin-bottom: .2em;
      text-transform: uppercase;
      font-size: $font-size-xsmall;
    }
  }
}
