@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin element-padding {
  padding: ($measure-xsmall / 1.5) $measure-xsmall;
}

@mixin padding($type: sides) {
  $set-padding-mobile: 0;
  $set-padding-desktop: 0;

  @if $type == sides {
    $set-padding-mobile: 0 $page-inner-padding-mobile;
    $set-padding-desktop: 0 $page-inner-padding;
  } @else if $type == full {
    $set-padding-mobile: $page-inner-padding-mobile;
    $set-padding-desktop: $page-inner-padding;
  } @else if $type == topbottom {
    $set-padding-mobile: $page-inner-padding-mobile 0;
    $set-padding-desktop: $page-inner-padding 0;
  }

  padding: $set-padding-mobile;

  @include media($mobile-size) {
    padding: $set-padding-desktop;
  }
}

@mixin margin($type: sides) {
  $set-margin-mobile: 0;
  $set-margin-desktop: 0;

  @if $type == sides {
    $set-margin-mobile: 0 $page-inner-padding-mobile;
    $set-margin-desktop: 0 $page-inner-padding;
  } @else if $type == full {
    $set-margin-mobile: $page-inner-padding-mobile;
    $set-margin-desktop: $page-inner-padding;
  } @else if $type == topbottom {
    $set-margin-mobile: $page-inner-padding-mobile 0;
    $set-margin-desktop: $page-inner-padding 0;
  }

  margin: $set-margin-mobile;

  @include media($mobile-size) {
    margin: $set-margin-desktop;
  }
}

// @include media-query($mobile) { ... }
// will compile to:
//
// @media only screen and (max-width: 480px) { ... }

@mixin media-query($device: $desktop) { //desktop for default
  @media only screen and ($responsive-property: $device) {
    @content;
  }
}
