@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin element-padding {
  padding: ($measure-xsmall / 1.5) $measure-xsmall;
}

@mixin responsive-padding() {
  padding-bottom: $page-global-padding-desktop;

  @include grid-media($grid-tablet) {
    padding-bottom: $page-global-padding-tablet;
  }

  @include grid-media($grid-desktop) {
    padding-bottom: $page-global-padding-desktop;
  }
}

@mixin padding($type: sides) {
  $set-padding-mobile: 0;
  $set-padding-desktop: 0;

  @if $type == sides {
    $set-padding-mobile: 0 $page-inner-padding-mobile;
    $set-padding-desktop: 0 $page-inner-padding;
  } @else if $type == full {
    $set-padding-mobile: $page-inner-padding-mobile;
    $set-padding-desktop: $page-inner-padding;
  } @else if $type == topbottom {
    $set-padding-mobile: $page-inner-padding-mobile 0;
    $set-padding-desktop: $page-inner-padding 0;
  }

  padding: $set-padding-mobile;

  @include grid-media($grid-desktop) {
    padding: $set-padding-desktop;
  }
}

@mixin margin($type: sides) {
  $set-margin-mobile: 0;
  $set-margin-desktop: 0;

  @if $type == sides {
    $set-margin-mobile: 0 $page-inner-padding-mobile;
    $set-margin-desktop: 0 $page-inner-padding;
  } @else if $type == full {
    $set-margin-mobile: $page-inner-padding-mobile;
    $set-margin-desktop: $page-inner-padding;
  } @else if $type == topbottom {
    $set-margin-mobile: $page-inner-padding-mobile 0;
    $set-margin-desktop: $page-inner-padding 0;
  }

  margin: $set-margin-mobile;

  @include grid-media($grid-desktop) {
    margin: $set-margin-desktop;
  }
}


@mixin decorative-line-top($decoration-height: 1px, $decoration-width: 20px) {
    &:before {
    content: '';
    position: absolute;
    display: block;
    background: white;
    top: (-10px - $decoration-height);
    width: $decoration-width;
    height: $decoration-height;
  }
}
