@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@function rem($size) {
  @return $size / 16px * 1rem;
}

@mixin element-padding {
  padding: var(--inner-padding-horizontal) var(--inner-padding);
}

@mixin decorative-line-top($decoration-height: 1px, $decoration-width: 20px) {
    &:before {
    content: '';
    position: absolute;
    display: block;
    background: white;
    top: (-10px - $decoration-height);
    width: $decoration-width;
    height: $decoration-height;
  }
}
