html {
  font-family: sans-serif;
  font-family: 'DM Sans', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: var(--font-size-root);
  line-height: var(--line-height-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd {
  font-weight: 400;
  padding: 0;
  margin: 0
}

h1,h2 {
  font-family: 'DM Serif Text', serif;
}

.type-level-1 {
  font-size: var(--font-size-level-1);
  line-height: var(--line-height-tight);
}

.type-level-2 {
  font-size: var(--font-size-level-2);
}

.type-level-3 {
  font-size: var(--font-size-level-3);
  line-height: var(--line-height-tight);
}

.type-level-4 {
  font-size: var(--font-size-level-4);
}

.title-label {
  color: rgba(var(--color-text), $color-rgb-opacity);
  color: var(--color-text);
  font-size: $font-size-small;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  margin-top: .5em;
  margin-bottom: $measure-xxxsmall;
}

.paragraph-main p {
  margin-bottom: var(--paragraph-spacing);
  font-size: $body-font-size-mobile;

  @include grid-media(desktop) {
    font-size: $body-font-size-desktop;
  }

  small {
    font-size: $font-size-small;
  }
}

.paragraph-small p {
  margin-bottom: var(--paragraph-spacing);
  font-size: $font-size-normal;
}

.paragraph-large {
  margin-bottom: var(--paragraph-spacing);
  font-size: $body-font-size-mobile;

  @include grid-media(tablet) {
    font-size: $font-size-xxlarge;
  }

  @include grid-media(desktop) {
    font-size: 28px;
  }
}

.paragraph-huge {
  margin-bottom: var(--paragraph-spacing);
  font-size: $font-size-xxlarge;

  @include grid-media(tablet) {
    font-size: $font-size-xxxlarge;
  }

  @include grid-media(desktop) {
    font-size: $font-size-xxxxlarge;
  }
}
