:root {
  --font-size-root: 16px;

  --line-height-regular: 1.5;
  --line-height-tight: 1.3;

  --font-size-xsmall: #{rem(12px)};
  --font-size-small: #{rem(14px)};
  --font-size-normal: #{rem(16px)};
  --font-size-large: #{rem(18px)};
  --font-size-xlarge: #{rem(20px)};
  --font-size-xxlarge: #{rem(24px)};
  --font-size-xxlarge-2: #{rem(28px)};
  --font-size-xxxlarge:#{rem(32px)};
  --font-size-xxxxlarge: #{rem(40px)};
  --font-size-xxxxxlarge: #{rem(56px)};
  --font-size-xxxxxxlarge: #{rem(96px)}; //96px

  --font-size-level-jumbo: var(--font-size-xxxxxlarge);
  --font-size-level-1: var(--font-size-xxxlarge);
  --font-size-level-2: var(--font-size-xxlarge);
  --font-size-level-3: var(--font-size-xxlarge);
  --font-size-level-4: var(--font-size-large);
  --font-size-body: var(--font-size-large);
  --font-size-body-tiny: var(--font-size-xsmall);
  --font-size-body-small: var(--font-size-small);
  --font-size-body-large: var(--font-size-large);
  --font-size-body-huge: var(--font-size-xxlarge);

  --font-size-button: var(--font-size-large);
  --font-size-form-label: var(--font-size-xlarge);
  --font-size-nav: var(--font-size-xlarge);

  --font-letter-spacing-subtle: .06rem;

  --paragraph-spacing: 1rem;

  --gutter: #{rem(24px)};
  --gutter-row: #{rem(18px)};
  --page-margin: #{rem(32px)};
  --inner-padding: #{rem(16px)};
  --inner-padding-horizontal: #{rem(12px)};

  --color-background: #212121;
  --color-text: rgba(255,255,255,.95);
  --color-cta: #65ff80;
  --color-rgb-opacity-tint: .7;
}

@include grid-media(tablet) {
  :root {
    --font-size-level-jumbo: var(--font-size-xxxxxxlarge);
    --font-size-level-1: var(--font-size-xxxxlarge);
    --font-size-body-large: var(--font-size-xxlarge);
    --font-size-body-huge: var(--font-size-xxxlarge);

    --page-margin: 4rem;
    --line-height-tight: 1.25;
  }
}

@include grid-media(desktop) {
  :root {
    --font-size-root: 17px;
    --font-size-level-jumbo: var(--font-size-xxxxxxlarge);
    --font-size-level-1: var(--font-size-xxxxxlarge);
    --font-size-body: var(--font-size-xlarge);
    --font-size-body-large: var(--font-size-xxlarge-2);
    --font-size-body-huge: var(--font-size-xxxxlarge);

    --gutter: 2rem;
  }
}

@include grid-media(largedesktop) {
  :root {
    --font-size-root: 1.2vw;
  }
}

/*
 * GEOMETRY
 */

//Base
$measure-xxxsmall: rem(4px);
$measure-xxsmall: rem(8px);
$measure-xsmall: rem(12px);
$measure-small: rem(20px);
$measure-normal: rem(28px);
$measure-medium: rem(32px);
$measure-large: rem(64px);

/*
 * GEOMETRY
 */

$timing-interaction: .2s;

/*
 * COLOUR
 */

//Base
$site-line-color: #e2e2e2;
$site-highlight: blue;
