/*
 * GEOMETRY
 */

//Base
$measure-xxxsmall: 4px;
$measure-xxsmall: 8px;
$measure-xsmall: 12px;
$measure-small: 20px;
$measure-normal: 28px;
$measure-medium: 32px;
$measure-large: 64px;

$page-global-padding-desktop: $measure-normal;
$page-global-padding-tablet: $measure-small;
$page-global-padding-mobile: $measure-xsmall;

$page-padding: $measure-medium;
$page-inner-padding: $measure-large;
$page-inner-padding-tablet: $measure-medium;
$page-inner-padding-mobile: $measure-small;

$page-inner-margin: $measure-xsmall;
$page-inner-margin-tablet: 0;
$page-inner-margin-mobile: 0;

$footer-height: ($measure-medium * 2);

$accent-behind-height: 200px;

$page-element-padding: $measure-small;
$page-element-padding-mobile: $measure-xsmall;

/*
 * GEOMETRY
 */

$timing-interaction: .2s;

/*
 * TYPOGRAPHY
 */

//Base
$font-size-xsmall: 0.75rem; //12px
$font-size-small: 0.875rem; //14px
$font-size-normal: 1rem;
$font-size-large: 1.125rem; //18px
$font-size-xlarge: 1.25rem; //20px
$font-size-xxlarge: 1.5rem; //24px
$font-size-xxxlarge: 2rem; //32px
$font-size-xxxxlarge: 2.5rem; //40px
$font-size-xxxxxlarge: 3.5rem; //56px

$h1-font-size: $font-size-xxxlarge;
$h2-font-size: $font-size-xxlarge;

$body-font-size-desktop: $font-size-xlarge;
$body-font-size-tablet: $font-size-large;
$body-font-size-mobile: $font-size-large;

$letter-spacing-medium: 0.06rem;

/*
 * COLOUR
 */

//Base
$site-accent-color: #65ff80;
$site-accent-inverted-color: black;
$site-background-color: #171717; //f7f7f7, 141414, ececec
$site-text-color: white; //#252525
$site-line-color: #e2e2e2;
$site-highlight: blue;

$color-rgb-opacity: 0.6;

//Accent tints
$site-accent-color-lightest: mix($site-accent-color, white, 80%);
$site-accent-color-light: mix($site-accent-color, white, 60%);
$site-accent-color-dark: mix($site-accent-color, black, 90%);
$site-accent-color-darkest: mix($site-accent-color, black, 85%);
