
/*
 * MEDIA QUERIES
 */
$default-feature: min-width;

$mobile-size: em(480px);
$tablet-size: em(768px);
$desktop-size: em(960px);
$largedesktop-size: em(1200px);

/*
 * GEOMETRY
 */

//Base
$measure-xxxsmall: 4px;
$measure-xxsmall: 8px;
$measure-xsmall: 12px;
$measure-small: 20px;
$measure-normal: 28px;
$measure-medium: 32px;
$measure-large: 64px;

$page-global-padding-desktop: $measure-normal;
$page-global-padding-tablet: $measure-small;
$page-global-padding-mobile: $measure-xsmall;

$page-padding: $measure-medium;
$page-inner-padding: $measure-large;
$page-inner-padding-tablet: $measure-medium;
$page-inner-padding-mobile: $measure-small;

$page-inner-margin: $measure-xsmall;
$page-inner-margin-tablet: 0;
$page-inner-margin-mobile: 0;

$footer-height: ($measure-medium * 2);

$accent-behind-height: 200px;

$page-element-padding: $measure-small;
$page-element-padding-mobile: $measure-xsmall;

/*
 * GEOMETRY
 */

$timing-interaction: .2s;

/*
 * TYPOGRAPHY
 */

//Base
$font-size-xsmall: rem(12px);
$font-size-small: rem(14px);
$font-size-normal: rem(16px);
$font-size-large: rem(18px);
$font-size-xlarge: rem(20px);
$font-size-xxlarge: rem(24px);
$font-size-xxxlarge: rem(32px);
$font-size-xxxxlarge: rem(40px);
$font-size-xxxxxlarge: rem(56px);

$h1-font-size: $font-size-xxxlarge;
$h2-font-size: $font-size-xxlarge;

$body-font-size-desktop: $font-size-xlarge;
$body-font-size-tablet: $font-size-large;
$body-font-size-mobile: $font-size-large;

$letter-spacing-medium: 0.06rem;

/*
 * COLOUR
 */

//Base
$site-accent-color-secondary: blue;
$site-accent-color: #65ff80;
$site-accent-inverted-color: black;
$site-background-color: #171717; //f7f7f7, 141414, ececec
$site-text-color: white; //#252525
$site-line-color: #e2e2e2;

$color-rgb-opacity: 0.6;

//Accent tints
$site-accent-color-lightest: mix($site-accent-color, white, 80%);
$site-accent-color-light: mix($site-accent-color, white, 60%);
$site-accent-color-dark: mix($site-accent-color, black, 90%);
$site-accent-color-darkest: mix($site-accent-color, black, 85%);
